*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: #15202b;
    color: #fff;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav{
    text-align: left;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    padding: 0 1em;
}
main{
    width: 50%;
    border: 1px #fff solid;
    height: 100vh;
    border-top: none;
    border-bottom: none;
    overflow-y: auto;
}
aside{
    width: 30%;
    padding: 1em;
}

.logo>div{
    font-size: 20px;
    margin-left: .8em;
}

.logo{
    cursor: pointer;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    margin: .3em 0;
    padding: .7em;
    transition: background 200ms ease-in;
    border-radius: 30px;
}

.logo:hover{
    background-color: rgba(29, 161, 242, .2);
    color: #1da1f2;
}

.text-center{
    text-align: center;
}
.btn-primary{
    border: none;
    background-color: #1a91da;
    height: 2em;
    font-size: 1.3em;
    width: 8em;
    border-radius: 2em;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
    margin: 1em auto;
}
.btn-primary:hover{
    background-color: #136aa0;
}
.col-12{
    width: 100%;
}

#search-input{
    display:flex;
    justify-content: center;
    height: 40px;
    background-color: #136aa02a;
    align-items: center;
    border-radius: 30px;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#search-input>label{
    margin-top: 5px;
}
#search-input>input{
    background: none;
    border: none;
    width: 100%;
    color: #fff;
    padding: 0 10px;
}


#search-input:hover{
    border: 1px solid #136aa0;
}